<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Daniel Villalba Durán">
    <meta name="description" content="NodePOP es el wallapop de los pobres, pobres porque no sabes cuando funcionará.">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1><%= title %></h1>

    <% getLocales().forEach( lang => { %>     
      <a href="/lang/<%= lang %>"> <%= lang %> </a>
      <% }) %>

    <container class="filter-flex">
  
      <div class="filter-item">  
        <h4><%= __('Filtrar por tipo') %>:</h4>
        <div class="select">
          <select name="bytype" id="bytype">
            <option value="0"><%= __('Todas las opciones') %></option>
            <option value="1"><%= __('Quiero comprar') %></option>
            <option value="2"><%= __('Quiero vender') %></option>
          </select>
        </div>  
      </div>
        
        <div class="filter-item">  
        <h4><%= __('Filtrar por etiquetas') %>:</h4>
        <div class="select">
          <select name="bytag" id="bytag">
            <option value="0"><%= __('Todas las opciones') %></option>
            <option value="1"><%= __('Lifestyle') %></option>
            <option value="2"><%= __('Mobile') %></option>
            <option value="3"><%= __('Work') %></option>
            <option value="4"><%= __('Motor') %></option>
          </select>
        </div>  
      </div>
        
        <div class="filter-item">  
        <h4><%= __('Filtrar por nombre') %>:</h4>
          <input type="text" id="byname">
        </div>  
      </div>
      
        <div class="filter-item">  
        <h4><%= __('Filtrar por precio') %>:</h4>
            <input type="text" class="priceinput" id="minprice" placeholder="<%= __('Precio Mínimo') %>">
            <input type="text" class="priceinput" id="maxprice" placeholder="<%= __('Precio Máximo') %>">
            <button>GO</button>
        </div>  
      </div>
          
    </container>
    
    <container class="ads-container"></container>

    <nav>
        <ul>
          <li class="prev"><%= __('Anteriores') %></li>
          <li class="spacer"> | </li>
          <li class="next"><%= __('Siguientes') %></li>
        </ul>
    </nav>

  </body>

  <footer>
    <p>Keep Coding Exercise by Daniel Villalba Durán</p>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/ajax.js"></script>
  </footer>
